.app {
    display: flex;
    width: 100%;
    gap: 1.5rem;
    margin: auto;
    padding: 32px 24px;
    max-width: 1500px;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 28px;
    flex-grow: 999;
}

form {
    padding: 18px;
    border-radius: 12px;
}

.edit-side {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    max-width: 750px;
    gap: 28px;
    flex-grow: 1
}