.buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main-buttons {
    display: flex;
    gap: 0.75rem;
}

.buttons button {
    font-family: "NotoSans-bold";
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
}

.delete {
    display: flex;
    align-items: center;
    gap: 6px;
}

.delete, .cancel {
    background-color: transparent;
    outline: 1px solid gray;
    color: gray;    
}

.save {
    background-color: rgb(24, 127, 245);
    color: white;
}