.input-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.6rem;
  gap: 0.25rem;
  flex-grow: 1;
}

.input-field textarea {
  max-width: 100%;
  min-height: 42px;
  height: 65px;
}

.input-field input,
.input-field textarea {
  border: 2px solid transparent;
  background-color: var(--main-bg-color);
  padding: 10px;
  border-radius: 12px;
  transition: border 0.15s, box-shadow 0.15s;
}


label > * {
  font-family: "NotoSans-SemiBold";
}


.input-field input:focus,
.input-field textarea:focus {
  border-color: rgb(59, 131, 246);
  outline: none;
  box-shadow: 0px 3px 15px rgba(59, 131, 246, 0.2);
}

